.head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.124);
    padding: 10px;
    position: sticky;
}
.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* position: relative; */
}
h2{
    text-align: center;
    padding: 20px;
}
h1{
    font-style: italic;
}
/* 
.Complain{
    position: absolute;
    top: 0;
    left: 630px;
} */