body{
    background-color: aliceblue;
}
form{
    margin: 0 auto; 
    margin-top: 50px;
    width:500px;
}
label{
    color: blue;
    font-size: 20px;
    font-family: cursive;
}
button{
    width: 150px;
}
::placeholder {
    color: rgb(202, 135, 135);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
h2{
    color: brown;
}